<div class="menu">
     <i (click)="mostrarMenu()" class="fa-solid fa-bars"></i>
</div>
<div class="logout">
    <i class="fa-solid fa-circle-user"></i>
</div>

<div *ngIf="menuAberto" 
     animate.enter="fundo-entrando" 
     animate.leave="fundo-saindo" 
     class="menu-backdrop" 
     (click)="mostrarMenu()">
</div>

<aside *ngIf="menuAberto" 
        animate.enter="menu-entrando"
        animate.leave="menu-saindo"
        class="menuLateral">
    <nav>
        <img src="img/ford.png" alt="">
        <a href="home">Home</a>
        <a href="dashboard">Dashboard</a>
    </nav>
</aside>
