<div class="menu">
     <i (click)="mostrarMenu()" class="fa-solid fa-bars"></i>
</div>
<div class="logout">
    <i (click)="mostrarLogout()" class="fa-solid fa-circle-user"></i>
</div>

<div *ngIf="menuAberto" 
     animate.enter="fundo-entrando"
     animate.leave="fundo-saindo" 
     class="menu-backdrop" 
     (click)="mostrarMenu()">
</div>

<aside *ngIf="menuAberto" 
        animate.enter="menu-entrando"
        animate.leave="menu-saindo"
        class="menuLateral">
    <nav>
        <img src="img/ford.png" alt="logoFord">
        <a routerLink="/home"
        routerLinkActive="paginaAtiva">
        Home    
        </a>
    
        <a routerLink="/dashboard"
        routerLinkActive="paginaAtiva">
        Dashboard
        </a>
    </nav>
</aside>

 <div *ngIf="logoutaberto" class="divLogout">
    <i (click)="logout()" class="fa-solid fa-arrow-right-from-bracket"> Sair</i>
 </div>