<app-menu></app-menu>

<main>

    <h2>Dashboard FORD</h2>

    <div class="cards">
        
        <div class="card">
            <div class="titulo">
                <span>Veículo</span> 
            </div> <br>
            
            <select name="veiculo" id="" (change)="veiculoSelecionado($event)">
                <option value="" hidden selected disabled>Escolha um modelo</option>
                <option *ngFor="let v of vehicles" [value]="v.id">
                    {{v.vehicle}}
                </option>
            </select>
        </div>

        <div class="card">
            <div class="titulo">
                <span>Total de Vendas</span>
            </div>
            <span class="cardInfo">{{ selecionado?.volumetotal || null }}</span> 
            <span class="unid">Unid.</span>   
        </div>

        <div class="card">
            <div class="titulo">
                <span>Conectados</span>
            </div>
            <span class="cardInfo">{{ selecionado?.connected || null }}</span>
            <span class="unid">Unid.</span>
        </div>

        <div class="card">
            <div class="titulo">
                <span>Update Software</span>
            </div>
            <span class="cardInfo">{{ selecionado?.softwareUpdates || null }}</span>
            <span class="unid">Unid.</span>
        </div> 
    </div>

    <div class="imagemCarro">
        <img *ngIf="selecionado" [src]="selecionado.img" [alt]="selecionado.vehicle">
    </div>

    
        
        <div class="tabelaContainer">
            <table>
                
                <tr>
                    <th class="coluna-vin">Código - Vin</th>
                    <th class="coluna-odometro">Odômetro</th>
                    <th class="coluna-combustivel">Nível de Combustível</th>
                    <th class="coluna-status">Status</th>
                    <th class="coluna-lat">Lat.</th>
                    <th class="coluna-long">Long.</th>
                </tr>

                <tr class="linhaDados">
                    <td class="campoVin">
                        <input type="text" name="codigo" (input)="codigoDigitado($event)"> 
                        <button (click)="buscarInfos()" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </td>
                    <td class="vinInfos">{{ digitado?.odometro || null }}</td>
                    <td class="vinInfos">{{ digitado?.nivelCombustivel || null }}</td>
                    <td class="vinInfos">{{ digitado?.status || null }}</td>
                    <td class="vinInfos">{{ digitado?.lat || null }}</td>
                    <td class="vinInfos">{{ digitado?.long || null }}</td>
                </tr>
            
                <tr style="background-color: #00095b; height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        
</main>